<div class="btn-group">
	<% navbar_buttons(:graph, ["standard","stacked","horizon"]).each do |a| %>
		<%= a.html_safe %>
	<% end %>
</div>
<% 
if get_param(:graph) == "stacked" %>
<div class="btn-group">
	<% navbar_dropdown(:render, ["line","area","bar"], {label: true}).each do |a| %>
		<%= a.html_safe %>
	<% end %>
</div>
<%end%>
