<div class="btn-group">
	<a type="button" class='btn btn-default' href="<%= request.url %>"
	   data-toggle="tooltip-down" data-original-title="Click to refresh metric data">
			<i class="icon-refresh"	>
	</i></a>
</div>
