<div class="btn-group no_link">
	<a class='pull-right find' href="#settingsModal" role="button" data-toggle="modal" data-target="#settingsModal" style="padding: 6px"><i class="icon-cog"></i></a>
</div>
