
<div class="btn-group">
	<% navbar_buttons(:start, ["10min","1h","3h","1d","1w","2w"]).each do |a| %>
		<%= a.html_safe %>
	<% end %>
</div>
<div class="btn-group">
	<% navbar_buttons(:end, ["10min","1h","3h","1d","1w","2w"]).each do |a| %>
		<%= a.html_safe %>
	<% end %>
</div>
