
<% time_type = que_qs(:time).join(""); time_type = "default" if time_type.empty? %>
<div class="btn-group">
	
	<% change_links = [
		["default",  "Change to Default", root_path + obl_qs(:time)],
		["relative", "Change to Relative", root_path + chg_qs(:time, "relative")],
		["absolute", "Change to Absolute", root_path + chg_qs(:time, "absolute")]
	]
	if time_type == "relative"
		icon = "<i class='icon-rocket'></i>"
		tooltip = "Relative Time"
	elsif time_type == "absolute" 
		icon = "<b>|x|</b>"
		tooltip = "Absolute Time"
	else 
		icon = "default"
		tooltip = "Default time"
	end
	change_links.delete_at(change_links.map{|x| x[0]}.index time_type) %>
	<a type="button" class="btn btn-default active" data-toggle="tooltip-down" data-original-title="<%=tooltip%>"><%= icon.html_safe %></a>
	<a type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
          </a>
	<div class="dropdown-menu">
	 	<% change_links.each do |c| %>
		<li style="padding: 5px"><a href="<%=c[2]%>"><%=c[1]%></a></li>
		<% end %>
	</div>
</div>
