<%= javascript_include_tag "rickshaw" %>
<%= stylesheet_link_tag    "graphs_rickshaw" %>

<div class="slider" id="multi_slider" ></div></div>

<% @metrics.each do |metric| %>
       <%= render partial: "partial/graph/rickshaw", locals: {metric: metric} %>
<% end %>

<script>
	new Rickshaw.Graph.RangeSlider({ 
		graph: [<%= @metrics.map{|m| "graph_#{safe_string(m)}"}.join(",")%>],
		element: $("#multi_slider")
	});
</script>


