<%= javascript_include_tag "rickshaw" %>
<%= stylesheet_link_tag    "graphs_rickshaw" %>

<script>graph=[]</script>
<div class="slider" id="multi_slider" ></div>
<% @metrics.each_with_index do |metric, index| %>
	<%= render partial: "partial/graph/rickshaw", locals: {metric: metric, index: index} %>
<% end %>

<script>

complete = 0;
function renderSlider() { 
	complete++;

	// Render the multiple graph slider only when all the graphing operations have been completed.
	if (complete = gon.metric.length) { 
	new Rickshaw.Graph.RangeSlider({ 
		graph: graph, 
		element: $("#multi_slider")
		});
	}
}
</script>


