/*= require graphs/standard  */
.legend-swatch {
        display: inline-block;
        width: 5px;
        height: 10px;
        margin: 0 8px 0 0;
}
.legend-indent { 
        width: 50%;
        float: left;
} 

.legend-metric, .legend-data, .legend-shuffle { 
        display: inline-block;
} 
.legend-metric { 
	width: 80%
} 
.legend-shuffle { 
	float: right;
	padding-right: 10px
}
.legend-label {
	display: table; 
	width: 100%
}
.legend { 
	width: 800px;
} 
