.chart_container {
position:relative;
display:inline-block;
font-family:Arial, Helvetica, sans-serif;
}

.slider {
display:inline-block;
margin-left:60px;
/* yaxis -20*/
padding-bottom:20px;
}

.chart {
display:inline-block;
margin-left:60px;
}

.y_axis {
position:absolute;
top:0;
bottom:0;
width:60px;
}

.legend {
font-size:small;
vertical-align:top;
margin-top:20px;
background:transparent;
color:#000;
}

