.plaid, .plaid:hover { text-decoration: none; color: black;  vertical-align:text-bottom; display:inline;}

/* Make a hoverlink look kind of normal */
.hoverlink { cursor: pointer } 

.tooltip-inner { max-width: 800px} 

/*jquery.formValidator theme */
input.error { 
	background: #ffebef; 
	color: #480000
}

.metric_url { display: inline; }
.metric_url span a { 
	font-size: small; 
	color: grey;
} 
/* Font-awesome search */

.nav > li:focus, .nav> li:hover:not(.no_highlight)  {
	text-decoration: none;
	background-color: #eeeeee;
}
.hover { opacity: 0.5; visibility: hidden}
.drag{ cursor: move; padding-right: 5px}
.header-text { font-weight: bold; padding: 10px; color: #333}
.header-text i { padding-right: 2px } 
.hover-li { padding: 5px }
.hover-right { float:right;}
.hover-left { float:left;}
.side-menu a { text-decoration: none; color: #333}
.side-menu { font-size:small}
.side-menu .find {font-weight:normal }
.no_link a, .no_link a:hover  { font-weight: normal; color: #666; text-decoration: none}
.side-menu .metric {
	display:inline-block;
	width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
	text-decoration: none;
	color: #333;
} 
.side-menu .find { padding-left: 22px}

.data_source { display: inline }
.data_source i { font-size:0.8em; color: #666; text-decoration: none}

.remove_metric { display:inline; z-index:100; }
.remove_metric a { color: #ccc; text-decoration: none}
.remove_metric a:hover { color: #666 }


.select_results { padding: 10px}
.select_results > div{ padding: 5px}

#zoomtoselected { display:inline; position: relative;
top: -25px;
left: 30px;} 

/* Nicer Richshaw Hovers */
.rickshaw_graph .detail .x_label { display: none } 
.rickshaw_graph .detail .item { line-height: 1.4; padding: 0.5em }
.detail_swatch { display: inline-block; width: 10px; height: 10px; margin: 0 4px 0 0 }
.rickshaw_graph .detail .date { color: #a0a0a0 }


#chart_container { 
	 padding-bottom: 40px
} 

/* "Mobile" view overrides - under 768px (collapsed navbar) */
@media (max-width: 767px) {
	#navbar-buttons { 
		padding:10px; 
		float:right;
	}
	.btn-group {
		padding-top:5px;
		padding-bottom: 5px;
	}
	.side-menu .metric { 
		max-width: 80%
	} 
}

/*
 * http://getbootstrap.com/docs-assets/css/docs.css
 * Side navigation
 *
 * Scrollspy and affixed enhanced navigation to highlight sections and secondary
 * sections of docs content.
 */

/* By default it's not affixed in mobile views, so undo that */
.bs-sidebar.affix {
  position: static;
}

/* First level of nav */
.bs-sidenav {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top:    10px;
  padding-bottom: 10px;
  text-shadow: 0 1px 0 #fff;
  background-color: #f7f5fa;
  border-radius: 5px;
}

/* All levels of nav */
.bs-sidebar .nav > li > a {
  display: block;
  color: #716b7a;
  padding: 5px 20px;
}
.bs-sidebar .nav > li > a:hover,
.bs-sidebar .nav > li > a:focus {
  text-decoration: none;
  background-color: #e5e3e9;
  border-right: 1px solid #dbd8e0;
}
.bs-sidebar .nav > .active > a,
.bs-sidebar .nav > .active:hover > a,
.bs-sidebar .nav > .active:focus > a {
  font-weight: bold;
  color: #563d7c;
  background-color: transparent;
  border-right: 1px solid #563d7c;
}

/* Nav: second level (shown on .active) */
.bs-sidebar .nav .nav {
  display: none; /* Hide by default, but at >768px, show it */
  margin-bottom: 8px;
}
.bs-sidebar .nav .nav > li > a {
  padding-top:    3px;
  padding-bottom: 3px;
  padding-left: 30px;
  font-size: 90%;
}

/* Show and affix the side nav when space allows it */
@media (min-width: 992px) {
  .bs-sidebar .nav > .active > ul {
    display: block;
  }
  /* Widen the fixed sidebar */
  .bs-sidebar.affix,
  .bs-sidebar.affix-bottom {
    width: 213px;
  }
  .bs-sidebar.affix {
    position: fixed; /* Undo the static from mobile first approach */
    top: 80px;
  }
  .bs-sidebar.affix-bottom {
    position: absolute; /* Undo the static from mobile first approach */
  }
  .bs-sidebar.affix-bottom .bs-sidenav,
  .bs-sidebar.affix .bs-sidenav {
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  /* Widen the fixed sidebar again */
  .bs-sidebar.affix-bottom,
  .bs-sidebar.affix {
    width: 263px;
  }
}
/**********************************************/
