/*jquery.formValidator theme */
input.error { 
	background: #ffebef; 
	color: #480000
}
/* Font-awesome search */
.nav > li:focus, .nav> li:hover:not(.no_highlight)  {
	text-decoration: none;
	background-color: #eeeeee;
}
.error, .waiting { padding-left: 60px}
.hover { opacity: 0.5; visibility: hidden}
.drag{ cursor: move; padding-right: 5px}
.header-text { font-weight: bold; padding: 10px; color: #333}
.header-text i { padding-right: 2px } 
.hover-li { padding: 5px }
.hover-right { float:right;}
.hover-left { float:left;}
.side-menu a { text-decoration: none; color: #333}
.side-menu { font-size:small}
.side-menu .find {font-weight:normal }
.no_link a, .no_link a:hover  { font-weight: normal; color: #666; text-decoration: none}
.side-menu .metric {
	display:inline-block;
	width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
	text-decoration: none;
	color: #333;
} 
.side-menu .find { padding-left: 22px}


.select_results { padding: 10px}
.select_results > div{ padding: 5px}

/* "Mobile" view overrides - under 768px (collapsed navbar) */
@media (max-width: 767px) {
	#navbar-buttons { 
		padding:10px; 
		float:right;
	}
	.btn-group {
		padding-top:5px;
		padding-bottom: 5px;
	}
	.side-menu .metric { 
		max-width: 80%
	} 
}
.horizon_remove { 
	text-shadow:none;
	float:right;
}
.horizon_remove .icon-remove { color: #333 }
.horizon .title{
	width: 630px;
}
