/*
 *= require rickshaw
 */
#chart_container {
        position: relative;
        display: inline-block;
        font-family: Arial, Helvetica, sans-serif;
}
.slider {
       display: inline-block;
        margin-left: 40px;
	margin-top: 10px;
	padding-left: 15px;
}
.chart {
       display: inline-block;
        margin-left: 40px;
}
.y_axis {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 40px;
}
.legend {
        position: absolute;
        top: 350px;
        left: 0px;
        vertical-align: top;
        margin: 0 0 0 10px;
        background: transparent;
        color: black;                                                                                                                                                               
}                                                                                                                                                                                   
.x_axis { 
        position: relative;                                                                                                                                                         
        left: 40px;                                                                                                                                                                 
        height: 10px;                                                                                                                                                               
}  
.axis0 {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 40px;
}
.axis1 {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 740px; /* Chart width + 40 */
        width: 40px;
}

/* Rickshaw Customizations */
/* Increase hover value dot for ease of visibility */
.rickshaw_graph .detail .dot {
        width: 8px;
        height: 8px;
        margin-left: -4px;
        margin-top: -4px;
}

