/* Formatting for better horizon labels */
.horizon .title, .horizon .value {
        font-weight: bold;
        text-shadow: -1px 0 rgba(255,255,255,0.5), 0 1px rgba(255,255,255,0.5), 1px 0 rgba(255,255,255,0.5), 0 -1px rgba(255,255,255,0.5);
}

