@import url("rickshaw.min.css");
@import url("graphs_rickshaw.css");

.swatch {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin: 0 8px 0 0;
}
.label2 {
        display: inline-block;
}
.line {
        display: inline-block;
        margin: 0 0 0 30px;
}
.legend { opacity: 0.75; font-size: 12px; }
.stub { 
        position: absolute;
        top: 0px;
        width: 12px;
}       

.swatch_line { 
	position: absolute;
width:3px; height:300px } 


.stub_left { left: 40px; } 
.stub_right{  } 
